@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {

    --green0: 165 93% 32%;
    --green1: 138 91% 25%;
    --green2: 189 84% 29%;
    --green3: 144 47% 55%;
    --green4: 133 66% 37%;
    --green5: 170 53% 11%;

  --green: 165 93% 32%;
  --dark0: 210 3% 15%;
  --dark1: 233 15% 12%;
  --dark2: 231 15% 18%;
  --dark3: 232 14% 31%;
  --light: 60 30% 96%;
  --navy: 225 27% 51%;
  --slate: 232 14% 31%;
  --red: 0 100% 67%;
  --green: 135 94% 65%;
  --yellow: 65 92% 76%;
  --cyan: 191 97% 77%;
  --violet: 265 89% 78%;
  --orange: 31 100% 71%;
  --pink: 326 100% 74%;
  --gray: 180 1% 39%;
  --gray2: 210 2% 20%;
  --white: 0 0% 100%;

  --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.gradient-container {
  width: 500px;
  font-size: 900;
  text-align: left;
}

.shadow {
  box-sizing: border-box;
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25), 0 30px 60px -30px rgba(0, 0, 0, 0.3), inset 0 -2px 6px 0 rgba(10, 37, 64, 0.35);
  border-radius: 5px;
  width: 500px;
  height: 340px;
}

.triangle {
  position: absolute;
  bottom: 0;
  height: calc(30% + 10px);
  width: calc(100% - 20px);
  clip-path: polygon(100% 0%, 0% 100%, 0% 0%);
  background: linear-gradient(to bottom, #069e78, green);
}

@media (min-width: 768px) {
  .triangle {
      width: calc(50% - 20px);
  }
}

/* Background Gradient */
.gradient-background {
  background: linear-gradient(90deg,

          white,
          #8BE9FD,
          #deb887);

          /* #4169e1,
          #5768df,
          #8164d7,
          #aa60c8,
          #cc60b3,
          #e3689c,
          #ed7889,
          #ee8c7e,
          #e99e7c,
          #e4ac7f,
          #e0b585,
          #deb887,
          orange); */
  background-size: 200%;
  /* Background Text Clip */
  /* webkit vendor prefix start */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* webkit vendor prefix end */
  background-clip: text;
  animation: gradient-text-animation 3s alternate infinite;
  /* -webkit-animation: gradient-text-animation 3s alternate infinite; */
}

/* Gradient Text Animation */
@keyframes gradient-text-animation {
  from {
      background-position: 0 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  to {
      background-position: 0 50%;
  }
}

.card-link {
  word-break: break-word;
  overflow-wrap: break-word;
  display: block;
}

.body {
  background: linear-gradient(to right, #abcdef, #123456); /* Replace with your colors */
}